body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-image: url(assets/Furia_Esports_logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0d0d0d;
    color: white;
}

.background-overlay{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

#chatbox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    background: #111;
}

#user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
    justify-content: center;
}

.buttons button {
    background-color: #1e1e1e;
    border: 1px solid #444;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.buttons button:hover {
    background-color: #333;
}